[submodule "vim/pack/themes/start/dracula-vim"]
	path = vim/pack/themes/start/draculat-vim
	url = https://github.com/dracula/vim.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "vim/pack/ap/start/vim-css-color"]
	path = vim/pack/ap/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
